*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    
}
.header {
    background-color: #252627;
    text-align: right;
    font-size: 18px;
    padding-bottom: 02px;
}
#zapp
{
    border-radius: 30px;
}
.imagens {
    border-radius: 5%;
}
article {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 5px;
    width: 24%;
    display: inline-block;
    text-align: center;
}


.alinhar{
    padding: 25px 140px 10px 10px;
    display: inline-block;
    margin: 11px;
    color:#ececf0;
    
}

.logo1{
    float: left;
}

/* .dir {
    float:right;
} */
h3, h2 {
    color: rgb(37, 211, 102
    );
    margin: 20px;
}


.alinharsec3{
    display: inline-block;
    margin: 20px;
    width: 28%;
}

.alinharsec4{
    display: inline-block;
    width: 49%;
    text-align: center;
}

#depoimentos {
    text-align: center;
    margin-bottom: 15;
}
footer {
    background-color: #252627;
    color: aliceblue;
}

p {
    margin: 20px;
}